In [1]:
import pandas as pd 
data = pd.read_csv("Training_Data_0611N.csv") #data imported

In [2]:
#Head of data displayed here for reference

In [3]:
data.dtypes #initial data types of columns for reference

cust_id                           float64
profitable_flag                   float64
count_accts                       float64
cm_age                            float64
flag_top_ed_spender               float64
flag_cust_fee_paid_6m             float64
pre6m_cust_spend                   object
pre6m_cust_roc_cnt                float64
pre6m_cust_non_disc_amt            object
pre6m_cust_non_disc_cnt           float64
pre6m_cust_disc_amt                object
pre6m_cust_disc_cnt               float64
pre6m_cust_outbound_amt            object
pre6m_cust_online_amt              object
pre6m_cust_online_cnt             float64
pre6m_cust_travel_amt              object
pre6m_cust_travel_cnt             float64
pre6m_cust_retail_amt              object
pre6m_cust_retail_cnt             float64
pre6m_cust_myca_active            float64
pre6m_cust_mob_logins             float64
pre6m_total_mc_trs                 object
acq_sub_chn                        object
acq_type_grp                       object
fee_type_grp                       object
Cust_tenure                       float64
pre6m_spend_active_ind            float64
highly_utilized_ind               float64
min_pay_ind                       float64
paid_in_full_ind                  float64
sum_total_line_amt                 object
direct_debit_ind                  float64
referrals                         float64
spillover                         float64
self_accts                        float64
Customer Low Quality indicator    float64
cdss_most_rcnt_prob               float64
cust_max_credit_12m_amt            object
cust_max_remit_12m_amt             object
cbr_3_score                       float64
cnsumr_chrg_actv_cust_cnt         float64
cnsumr_chrg_avg_credit_12m_amt     object
cnsumr_lend_actv_cust_cnt         float64
cnsumr_lend_tot_util_ratio        float64
sow_revol_avg_paydown_pct         float64
sow_tot_annual_ext_pmt_amt         object
sow_tot_revol_bal_amt              object
sow_tot_revol_cnt                 float64
sow_tot_trans_bal_amt              object
sow_tot_trans_cnt                 float64
dtype: object

In [4]:
dataTypeDict = dict(data.dtypes)

In [5]:
for var in dataTypeDict:
    if dataTypeDict[var] == 'object':
        data[var] = data[var].str.replace(',', '')
        data[var] = data[var].str.replace(' ', '')
        data[var] = data[var].str.replace('-', '0')
        data[var] = data[var].str.replace('(', '-')
        data[var] = data[var].str.replace(')', '')

In [6]:
col_list = []
for var in dataTypeDict: 
    if dataTypeDict[var] == 'object':
        col_list.append(var)
print(col_list)

['pre6m_cust_spend', 'pre6m_cust_non_disc_amt', 'pre6m_cust_disc_amt', 'pre6m_cust_outbound_amt', 'pre6m_cust_online_amt', 'pre6m_cust_travel_amt', 'pre6m_cust_retail_amt', 'pre6m_total_mc_trs', 'acq_sub_chn', 'acq_type_grp', 'fee_type_grp', 'sum_total_line_amt', 'cust_max_credit_12m_amt', 'cust_max_remit_12m_amt', 'cnsumr_chrg_avg_credit_12m_amt', 'sow_tot_annual_ext_pmt_amt', 'sow_tot_revol_bal_amt', 'sow_tot_trans_bal_amt']

In [10]:
data_objects = pd.DataFrame(data, columns = col_list)

In [17]:
data_objects_

,pre6m_cust_spend,pre6m_cust_non_disc_amt,pre6m_cust_disc_amt,pre6m_cust_outbound_amt,pre6m_cust_online_amt,pre6m_cust_travel_amt,pre6m_cust_retail_amt,pre6m_total_mc_trs,acq_sub_chn,acq_type_grp,fee_type_grp,sum_total_line_amt,cust_max_credit_12m_amt,cust_max_remit_12m_amt,cnsumr_chrg_avg_credit_12m_amt,sow_tot_annual_ext_pmt_amt,sow_tot_revol_bal_amt,sow_tot_trans_bal_amt
0,1518,811,707,0,606,28,814,-2,Unreferred,external,no_fee,80000,482,418,0,991,0,0
1,4807,1052,3756,673,3164,2291,1265,15,InHouse,others,no_fee,140000,2165,2165,7,2,24,0
2,2361,1351,1010,237,693,0,1623,-20,NaN,NaN,full_fee,32800,703,687,0,4828,0,387
3,5452,1195,4257,803,1618,2760,1605,30,NaN,NaN,full_fee,100000,1225,1225,493,4598,0,295
4,170,88,82,10,10,0,66,-9,Affiliates,spillover,no_fee,20800,51,35,0,2176,2606,143
5,46428,5108,41323,12620,28522,8155,34480,1146,NaN,NaN,full_fee,149600,11555,11555,0,0,0,0
6,12431,5679,6753,608,4205,2801,8376,-75,Unreferred,spillover,full_fee,58800,3316,3316,19,2967,441,1866
7,22606,10796,11812,332,4155,1673,17909,-48,Affiliates,spillover,full_fee,140000,6503,6287,0,73575,0,5833
8,3127,1090,2037,25,14,293,1949,2,NaN,NaN,full_fee,0,1267,1267,482,0,0,0
9,2770,901,1869,617,788,893,1103,185,NaN,NaN,full_fee,0,831,823,421,9,0,0
10,29691,13094,16598,2761,4290,12138,5962,61,NaN,NaN,full_fee,120000,5187,5041,1371,15167,2083,2476
11,1805,233,1573,750,1232,380,167,102,MGM,spillover,full_fee,56400,349,336,50,344,0,0
12,11784,3765,8020,390,3508,87,7228,-230,MGM,spillover,full_fee,36000,1565,1381,0,13977,-546,0
13,0,0,0,0,0,0,0,-0,NaN,NaN,no_fee,31200,0,0,0,0,0,0
14,8458,682,7777,4354,4545,1048,3412,134,Email,others,full_fee,0,5926,5926,1716,33674,0,303
15,62671,3170,59504,13045,46420,59102,3286,1197,NaN,NaN,full_fee,0,29167,29167,10459,1845,0,1845
16,101,0,101,101,0,101,0,58,NaN,NaN,full_fee,32800,317,317,28,0,0,0
17,331,0,331,11,13,0,68,27,NaN,NaN,full_fee,0,475,475,75,0,0,0
18,7680,2249,5431,73,2180,3391,3356,-27,MGM,external,full_fee,108000,4633,4626,0,0,0,0
19,10450,1351,9100,5923,6946,8376,1208,-33,NaN,NaN,no_fee,86800,4132,4132,0,0,0,0