In [ ]:
import pandas as pd 
data = pd.read_csv("Training_Data_0611N.csv") #data imported

In [ ]:
data.head()#Head of data displayed here for reference

In [ ]:
data.info() # Basic info of data that can be compared after data cleaning

In [ ]:
data.dtypes #initial data types of columns for reference

In [ ]:
dataTypeDict = dict(data.dtypes) #Dictionary containing column names as keys and data-types as values

In [ ]:
colObj_list = []#List containing "object" data-type column names
for var in dataTypeDict:
    if dataTypeDict[var] == 'object':
        data[var] = data[var].str.replace(',', '')
        data[var] = data[var].str.replace(' ', '')
        data[var] = data[var].str.replace('-', '0')
        data[var] = data[var].str.replace('(', '-')
        data[var] = data[var].str.replace(')', '')
        colObj_list.append(var)
        if (var != 'acq_sub_chn' and var!= 'acq_type_grp' and var!= 'fee_type_grp'):
            dataTypeDict[var] = 'float'

In [ ]:
data = data.astype(dataTypeDict) #Converting all numerical objects (numbers in the form of strings) 
                                #except 3 columns which contained alphabet-strings
#NOTE: DO NOT USE dataTypeDict anymore.

In [ ]:
data.isnull().sum(axis=0) #Sum of NaN values in each column of the main dataframe

In [ ]:
data = data.dropna() #Dataset after dropping all rows with atleast 1 NaN value
data.isnull().sum(axis=0) #Checking how many NaN values

In [ ]:
data.info() # Checking info about dataset post removing rows with NaN values